@charset "UTF-8";
body {
	font-family: "Courier New", Courier, monospace;
	color: #000;
	line-height: 1.5;
	font-weight: bold;
}
pre {
	padding: 2px;
}
.value {
	color: #080;
}
ul {
    list-style-type: none;
}
a {
	border: none;
	cursor: pointer;
	text-decoration: underline;
    background-color:transparent
}
a:link    {color:black}
a:visited {color:black}
a:hover   {color:blue}
a:active  {color:blue}

#content {
	position: absolute;
}
.item {
	line-height: 20px;
}
